.md-content {
   --md-typeset-a-color: #09bfdd;
 }

.md-typeset h1 {
   color:#FFFFFF
}

.container {
   margin: 0px auto;

   width:100%;
   height:auto;

   display:grid;
   grid-template-columns: 200px 200px;
   grid-column-gap: 20px; 
}

.md-button {
   display:flex;
   align-items:center;
   justify-content:center;
   width:200px;
}